In [388]:
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings("ignore") 
import time
import selenium

In [27]:
'''Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.'''

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

driver.get('https://www.naukri.com/')
driver.maximize_window()
designation=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Analyst')
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys('Bangalore')
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search.click()
time.sleep(2)

Job_title=[]
Job_location=[]
Company_name=[]
Experience=[]
Job_desc=[]

t=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
t2=t[0:10]

for i in t2:
    Job_title.append(i.text)

l=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
l2=l[0:10]

for i in l2:
    Job_location.append(i.text)

c=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c2=c[0:10]

for i in c2:
    Company_name.append(i.text)
    
e=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
e2=e[0:10]

for i in e2:
    Experience.append(i.text)
    
jd=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div[2]")
jd2=jd[0:10]

for i in jd2:
    Job_desc.append(i.text)
    
Job_Details=pd.DataFrame({'Title':Job_title,'Location':Job_location,'Company':Company_name,'Experience':Experience,'Job_Description':Job_desc})
Job_Details

,Title,Location,Company,Experience,Job_Description
0,Business and Data Analyst,Bangalore/Bengaluru,CAREERDOST ENTERPRISE,0-5 Yrs,We are open to consider Freshers either of 202...
1,SAS Analyst / data Analyst / Business analyst ...,"Bangalore/Bengaluru, Delhi / NCR, Mumbai (All ...",Leading US MNC into analytics,2-7 Yrs,Tier 1 & 2 candidates will be on preference At...
2,Data Analyst I,Bangalore/Bengaluru,Bioclinica,0-3 Yrs,"Bachelor s degree in an Engineering, Science, ..."
3,Senior Data Analyst,Bangalore/Bengaluru,Shell,10-12 Yrs,This job profile contains generic information ...
4,"Senior Data Analyst, Data & Analytics",Bangalore/Bengaluru,ReSource Pro Operational Solutions Pvt Ltd.,3-5 Yrs,4 years minimum experience in data analysis wi...
5,Hiring - Zonal Data Analyst (Off Role) - Opera...,"New Delhi, Bangalore/Bengaluru",Rupeek,2-7 Yrs,Minimum graduate from a recognized universityC...
6,Senior Data Analyst,"Chennai, Bangalore/Bengaluru",LatentView,3-6 Yrs,manage the Client Relationship by interacting ...
7,Sr Domain Expert -Data Analysts,Bangalore/Bengaluru,Siemens,0-10 Yrs,Must be able to manage a team of 5 and guide t...
8,Data Analyst Sr,Bangalore/Bengaluru,Epsilon,5-7 Yrs,Job Summary The Senior Analyst supports Genera...
9,Data Analyst II,Bangalore/Bengaluru,Cerner,6-10 Yrs,At least 5 years Additional work experience di...

In [75]:
'''Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data'''


driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

driver.get('https://www.naukri.com/')

designation=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')
location=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
location.send_keys('Bangalore')
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search.click()
time.sleep(2)

Job_title1=[]
Job_location1=[]
Company_name1=[]
Experience1=[]
Job_desc1=[]

t1=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
t21=t1[0:10]

for i in t21:
    Job_title1.append(i.text)

l1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
l21=l1[0:10]

for i in l21:
    Job_location1.append(i.text)

c1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c21=c1[0:10]

for i in c21:
    Company_name1.append(i.text)
    
e1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
e21=e1[0:10]

for i in e21:
    Experience1.append(i.text)
    
jd1=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div[2]")
jd21=jd1[0:10]

for i in jd21:
    Job_desc1.append(i.text)
    
Job_Details_DS=pd.DataFrame({'Title':Job_title1,'Location':Job_location1,'Company':Company_name1,'Experience':Experience1,'Job_Description':Job_desc1})
Job_Details_DS

,Title,Location,Company,Experience,Job_Description
0,Senior Data Scientist (IN4),Bangalore/Bengaluru,Walmart,5-9 Yrs,Master s/ PhD or any other graduation degree w...
1,Senior Data Scientist,Bangalore/Bengaluru,Walmart,5-9 Yrs,Your Opportunity As a Senior Data Scientist fo...
2,Senior Data Scientist,Bangalore/Bengaluru,Ericsson Global Services,10-15 Yrs,To be successful in the role you must have
3,Senior Data Scientist,Bangalore/Bengaluru,Truecaller,2-5 Yrs,As a Senior Data Scientist you will be respons...
4,Staff Engineer Data Scientist,Bangalore/Bengaluru,Infineon Technologies Pvt Ltd,1-3 Yrs,"Bachelors / Master Degree in Computer Science,..."
5,Data Scientist: Advanced Analytics,Bangalore/Bengaluru,IBM,2-5 Yrs,"As a Data Scientist at IBM, you will help tran..."
6,Data Scientist - IN3,Bangalore/Bengaluru,Walmart,7-11 Yrs,Master s/ PhD or any other graduation degree w...
7,Data Science - Data Scientist,"Pune, Bangalore/Bengaluru",Paytm,1-3 Yrs,Machine learning experience of 1-3 years of im...
8,FTE - Regional BI - Data Scientist,Bangalore/Bengaluru,Schneider Electric,3-5 Yrs,"Knowledge of Big Data AWS technologies (S3, Re..."
9,Data Scientist: Artificial Intelligence,Bangalore/Bengaluru,IBM,3-7 Yrs,IBM Maximo Certified Deployment Consultant (V6...

In [30]:
'''Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 

You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.'''


driver=webdriver.Chrome("chromedriver.exe")
time.sleep(2)

driver.get('https://www.naukri.com/')
driver.maximize_window()

designation=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[1]/div/div/div/input')
designation.send_keys('Data Scientist')
search=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search.click()
time.sleep(2)
sub_location=driver.find_element_by_xpath("//span[@title='Delhi / NCR']")
sub_location.click()
time.sleep(3)
salary_filter=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']").click()
time.sleep(3)
Job_title1=[]
Job_location1=[]
Company_name1=[]
Experience1=[]
Job_desc1=[]


t1=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
t21=t1[0:10]

for i in t21:
    Job_title1.append(i.text)

l1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
l21=l1[0:10]

for i in l21:
    Job_location1.append(i.text)

c1=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
c21=c1[0:10]

for i in c21:
    Company_name1.append(i.text)
    
e1=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
e21=e1[0:10]

for i in e21:
    Experience1.append(i.text)
    
jd1=driver.find_elements_by_xpath("//article[@class='jobTuple bgWhite br4 mb-8']/div[2]")
jd21=jd1[0:10]

for i in jd21:
    Job_desc1.append(i.text)
    
Job_Details_Delhi=pd.DataFrame({'Title':Job_title1,'Location':Job_location1,'Company':Company_name1,'Experience':Experience1,'Job_Description':Job_desc1})
Job_Details_Delhi

,Title,Location,Company,Experience,Job_Description
0,Associate Data Scientist,Gurgaon/Gurugram,Optum,1-5 Yrs,Primary Responsibilities:Work closely with a l...
1,Data Scientist (freelance),"New Delhi, Delhi",2Coms,2-7 Yrs,"Experience using web services: Redshift, S3, S..."
2,Hiring For Senior Data Scientist-Noida,"Noida, Greater Noida, Delhi / NCR",Lumiq.ai,2-6 Yrs,Role: Senior Data Scientist Experience: 2+ Yea...
3,Opening For Data Scientist,Gurgaon/Gurugram,Care Health Insurance,1-5 Yrs,Experience in data mining and development of p...
4,"Data Scientist/ Machine Learning, 2022 Passout...","Hyderabad/Secunderabad, Ahmedabad, Chennai, Ba...",Creative Hands HR Consultancy,0-4 Yrs,2022 graduate can also apply Freshers are pref...
5,Data Scientist,"Gurgaon, Bengaluru",BlackBuck,3-7 Yrs,Some of the problem areas are Insights across ...
6,Data Scientist,New Delhi,Boston Consulting Group,2-5 Yrs,Recent PhD or Master s Degree in computer scie...
7,Urgent Requirement || Data Scientist || Noida,"Noida, Delhi / NCR",HCL Technologies,3-8 Yrs,Education- Bachelors Degree (Computer Science)...
8,AM Data Scientist - Goods & Service Tax Networ...,Delhi / NCR,NISG (National Institute for Smart Government),3-8 Yrs,Tech/ BE / MCA / MBA-IT Knowledge in software ...
9,Data Scientist - MIND Infotech,Noida,MOTHERSONSUMI INFOTECH & DESIGNS LIMITED,4-8 Yrs,"About CompanyMIND is an IT services company, i..."

In [74]:
'''Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price

To scrape the data you have to go through following steps:
1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands andmore” is written and
click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this pageyou can scrap the
required data as usual.
ASSIGNMENT 2
4. After scraping data from the first page, go to the “Next” Button at the bottom ofthe page , then
click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses'''

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.flipkart.com/')

driver.maximize_window()
time.sleep(2)
driver.find_element_by_xpath("/html/body/div[2]/div/div/button").click()
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('sunglass')
SR=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
SR.click()
time.sleep(3)

brand=[]
product_desc=[]
price=[]


pr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr

for i in pr:
    
    product_desc.append(i.text)   

br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in br:
    
    brand.append(i.text)
    
rt=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in rt:
    
    price.append(i.text)
    
driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span").click()
time.sleep(3)

pr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr

for i in pr:
    
    product_desc.append(i.text)   

br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in br:
    
    brand.append(i.text)
    
rt=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in rt:
    
    price.append(i.text)

driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span").click()
time.sleep(3)

pr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr

for i in pr:
    
    product_desc.append(i.text)   

br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in br:
    
    brand.append(i.text)
    
rt=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in rt:
    
    price.append(i.text)
    
Sunglasses=pd.DataFrame({'Brand': brand[0:100],'Description':product_desc[0:100],'Price':price[0:100]})
Sunglasses

             Brand                                        Description Price
0        Rich Club  Polarized, UV Protection, Riding Glasses Wayfa...  ₹375
1     Silver Kartz           UV Protection Clubmaster Sunglasses (53)  ₹387
2        Elligator                UV Protection Round Sunglasses (54)  ₹355
3         Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹647
4         Fastrack   UV Protection Rectangular Sunglasses (Free Size)  ₹639
..             ...                                                ...   ...
95          GANSTA  UV Protection, Gradient Retro Square Sunglasse...  ₹221
96       Rich Club      UV Protection Wayfarer Sunglasses (Free Size)  ₹253
97  ROZZETTA CRAFT  Polarized, UV Protection Retro Square Sunglass...  ₹349
98        Poloport  Mirrored, UV Protection Wayfarer Sunglasses (F...  ₹249
99       ROYAL SON  UV Protection, Mirrored Round Sunglasses (Free...  ₹899

[100 rows x 3 columns]

In [391]:
'''Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. 
    
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually'''
    
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZE3ENS&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_3&otracker=AS_Query_OrganicAutoSuggest_3_6_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_6_na_na_na&fm=organic&iid=27c55a4e-3bff-45b6-b2e5-6fdfaedd3618.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=uiq6ijmksg0000001651482370002&qH=f6cdfdaa9f3c23f3')

driver.maximize_window()
time.sleep(3)

driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[9]/div[6]/div/a/div/span").click()
time.sleep(2)

ratings=[]
review=[]
summary=[]

for i in range(2):
    rt=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") 

    for r in rt:
        ratings.append(r.text)

    
    rv=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

    for s in rv:
        review.append(s.text)
    
    su=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

    for t in su:
        summary.append(t.text)

    time.sleep(3)

    nxt=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[11]")
    time.sleep(2)
    nxt.click()
    time.sleep(2)

time.sleep(3)    
    
for i in range(8):
    rt=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") 

    for r in rt:
        ratings.append(r.text)

    
        
    rv=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")

    for s in rv:
        review.append(s.text)
    
    su=driver.find_elements_by_xpath("//div[@class='t-ZTKy']")

    for t in su:
        summary.append(t.text)

    time.sleep(3)

    nxt=driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div/div/div[2]/div[13]/div/div/nav/a[12]")
    time.sleep(2)
    nxt.click()
    time.sleep(2)

time.sleep(3)  




Iphone_review=pd.DataFrame({"Ratings":ratings[0:90],"Review":review[0:90],"Review_Summary":summary[0:90]})
Iphone_review

,Ratings,Review,Review_Summary
0,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
1,5,Simply awesome,Really satisfied with the Product I received.....
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Perfect product!,Amazing phone with great cameras and better ba...
4,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
85,5,Good quality product,I'm switching this phone to oppo reno 10x zoom...
86,5,Terrific,Simply Awesome\n\nI have upgraded from iPhone ...
87,5,Best in the market!,Damn this phone is a blast . Upgraded from and...
88,4,Perfect product!,Worth the money’ starting first from its perfo...
89,5,Awesome,I dreamt about this day from a long time.... G...

In [86]:
'''Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the
search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price
'''
driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.flipkart.com/')

driver.maximize_window()
time.sleep(2)
driver.find_element_by_xpath("/html/body/div[2]/div/div/button").click()
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search.send_keys('sneakers')
SR=driver.find_element_by_xpath('/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button')
SR.click()
time.sleep(3)

brand=[]
product_desc=[]
price=[]


pr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr

for i in pr:
    
    product_desc.append(i.text)   

br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in br:
    
    brand.append(i.text)
    
rt=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in rt:
    
    price.append(i.text)
    
driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]/span").click()
time.sleep(3)

pr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr

for i in pr:
    
    product_desc.append(i.text)   

br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in br:
    
    brand.append(i.text)
    
rt=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in rt:
    
    price.append(i.text)

driver.find_element_by_xpath("/html/body/div[1]/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[12]/span").click()
time.sleep(3)

pr=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
pr

for i in pr:
    
    product_desc.append(i.text)   

br=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")

for i in br:
    
    brand.append(i.text)
    
rt=driver.find_elements_by_xpath("//div[@class='_30jeq3']")

for i in rt:
    
    price.append(i.text)
    
Sneakers=pd.DataFrame({'Brand': brand[0:100],'Description':product_desc[0:100],'Price':price[0:100]})
Sneakers

        Brand                                        Description   Price
0    KWIK FIT  Casual Trendy Sneaker Casual Shoes For Men Sne...    ₹424
1   DUNKASTON  Kwik FIT casual sneaker shoes and partywear sh...    ₹158
2    URBANBOX                                   Sneakers For Men    ₹349
3    KWIK FIT                                   Sneakers For Men    ₹362
4        aadi              Canvas shoes for Men Sneakers For Men    ₹449
..        ...                                                ...     ...
95    mohliye  kardam&sons casual sneaker shoes and luxury fa...    ₹489
96      Echor  Original Luxury Branded Fashionable Men's Casu...    ₹298
97      Zsyto                                   Sneakers For Men  ₹1,049
98      SPARX  Stylish Comfortable Lightweight, Breathable Wa...    ₹349
99      BIRDE  Skypy-31 Walking Shoes,Training Shoes,Sneakers...    ₹549

[100 rows x 3 columns]

In [136]:
'''Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image'''

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.myntra.com/shoes')

driver.maximize_window()
time.sleep(2)

driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label/div").click()
time.sleep(2)

driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div").click()
time.sleep(2)

Brand=[]
des=[]
price=[]

br=driver.find_elements_by_xpath("//h3[@class='product-brand']")

for b in br:
    Brand.append(b.text)

de=driver.find_elements_by_xpath("//h4[@class='product-product']")

for d in de:
    des.append(d.text)
    
pr=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

for p in pr:
    price.append(p.text.split('Rs.')[1])
 
time.sleep(3)

nxt=driver.find_element_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a")
time.sleep(3)
nxt.click()
time.sleep(3)

br=driver.find_elements_by_xpath("//h3[@class='product-brand']")

for b in br:
    Brand.append(b.text)

de=driver.find_elements_by_xpath("//h4[@class='product-product']")

for d in de:
    des.append(d.text)
    
pr=driver.find_elements_by_xpath("//div[@class='product-price']/span[1]")

for p in pr:
    price.append(p.text.split('Rs.')[1])    
    
Shoes=pd.DataFrame({"Brand":Brand[0:100],"Description":des[0:100],"Price":price[0:100]})
Shoes

          Brand                             Description   Price
0          Nike            Men KF 5 EP Basketball Shoes    8195
1          ALDO               Men Leather Driving Shoes   12999
2          Nike          Women React MR 3 Running Shoes   10495
3      Skechers              Men Max Cushioning Running    7649
4   one8 x PUMA            Men Fuse One8 Training Shoes    7999
..          ...                                     ...     ...
95      Bugatti              Women Leather Heeled Boots    8799
96      Bugatti  Leather Stiletto Pumps with Laser Cuts    9999
97      Saint G             Leather Party Block Sandals   10500
98         Geox          Women Textured Leather Loafers    9990
99         Geox          Women Textured Leather Loafers    9490

[100 rows x 3 columns]

In [274]:
'''Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price
As shown in the below image as the tick marked attributes'''

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.amazon.in/')

driver.maximize_window()
time.sleep(2)

search=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
search.send_keys("Laptop")
driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div").click()

time.sleep(7)

i7=driver.find_element_by_xpath("/html/body/div[2]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[4]/li[11]/span/a/span")
time.sleep(6)
i7.click()


time.sleep(3)
Title=[]
Rating=[]
Price=[]

tl=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

for i in tl:
    Title.append(i.text)
time.sleep(3)   
pr=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
    
for i in pr:
    Price.append(i.text)


rt=driver.find_elements_by_xpath("//span[@class='a-size-base s-underline-text']")
for j in rt:
    Rating.append(j.text)

Laptop=pd.DataFrame({"Title":Title[0:10],"Rating":Rating[0:10],"Price":Price[0:10]})
Laptop

                                               Title Rating     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...     48    83,990
1  Dell New XPS 9305 Intel i7-1165G7 13.3 inches ...     62  1,26,900
2  ASUS VivoBook 14 (2021), 14-inch (35.56 cms) F...      2    57,990
3  HP Pavilion 14, 11th Gen Intel Core i7-16GB RA...     38    86,490
4  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....      3    86,990
5  Dell 15 (2021) i7-11370H Laptop, 16GB, 1TB SSD...     13    97,990
6  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...     11    96,990
7  (Refurbished) Dell 7480 Intel Core i7 14-Inch ...      2    46,500
8  Infinix INBook X1 Pro Core i7 10th Gen - (16 G...      2    57,999
9  (Renewed) Dell Latitude Laptop E7480 Intel Cor...      2    47,990

In [330]:
'''Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida
location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter
“Data Scientist” and click on search button
4. You will reach to the following web page click on location and in place of “Search location” enter
“Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.
Note: All the steps required during scraping should be done through code only and not manually
'''

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.ambitionbox.com/')

driver.maximize_window()
time.sleep(2)

driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[6]").click()
time.sleep(4)

search=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/div/span/input")
search.send_keys("Data Scientist")
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button").click()
time.sleep(2)
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i").click()
time.sleep(2)
location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
location.send_keys("noida")
time.sleep(2)
driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

time.sleep(3)

Job_Title=[]
Company=[]
Job_Summary=[]

jt=driver.find_elements_by_xpath("//div[@class='info']/h2[1]")
for i in jt:
    Job_Title.append(i.text)
cm=driver.find_elements_by_xpath("//div[@class='company-info']/p")
for i in cm:
    Company.append(i.text)
Company2=Company[1:]

js=driver.find_elements_by_xpath("//div[@class='job-basic-info show-flex']/div[4]")
for i in js:
    Job_Summary.append(i.text)
js=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[1]/div[2]/div[2]/div[2]/div/div[1]/div[7]/div[3]/div/div[3]/p")
Job_Summary.insert(-4,js.text)

Ambition=pd.DataFrame({"Job_Title":Job_Title,"Company":Company2,"Job_Summary":Job_Summary})
Ambition

,Job_Title,Company,Job_Summary
0,Machine Learning Engineer,GENPACT India Private Limited,"deep learning, nlp, Natural Language Processin..."
1,Data Scientist,GENPACT India Private Limited,"deep learning, python, machine learning"
2,Data Scientist with SAS,Tech Mahindra Ltd,"SAS, machine learning"
3,Hiring For Data Scientist + Python/R+ Predicti...,GENPACT India Private Limited,"Predictive Modeling, R, python +4 more"
4,Urgent Requirement || Data Scientist || Noida,HCL Technologies,"NLP, Artificial Intelligence, Natural Language..."
5,Data Scientist - Immediate Joiners,Bristlecone India Limited,"Data Scientist, Data Management, PhD +6 more"
6,Data Scientist - Machine Learning (5-14 yrs),Zyoin,"Predictive Modeling, Data Science, SAS +7 more"
7,Data Scientist- Fresher Opening - Newgen Softw...,Newgen Software Technologies Ltd.,"python, nlp, Statistical Analyses +1 more"
8,Senior Data Scientist,Pitney Bowes India Pvt Ltd,Quest
9,Data Analyst / Data Scientist,JK Technosoft Ltd,"Data Visualization, Data Analysis, Machine Lea..."

In [385]:
'''Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.
'''

driver=webdriver.Chrome("chromedriver.exe")
time.sleep(3)

driver.get('https://www.ambitionbox.com/')

driver.maximize_window()
time.sleep(2)

driver.find_element_by_xpath("/html/body/div[1]/nav/nav/a[4]").click()
time.sleep(4)
search=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")
search.send_keys("Data Scientist")
time.sleep(1)
driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/div/div/div[1]/div/div/p").click()
time.sleep(2)

com=[]
slrd=[]
exp=[]
min1=[]
max1=[]
avg=[]

c=driver.find_elements_by_xpath("//div[@class='name']/a")
for i in c:
    com.append(i.text)
    
s=driver.find_elements_by_xpath("//div[@class='name']/span[1]")
for i in s:
    slrd.append(i.text)
    
e=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
for i in e:
    exp.append(i.text.split('\n')[-1])
    
m1=driver.find_elements_by_xpath("//div[@class='salary-values']/div[1]")
for i in m1:
    min1.append(i.text)
    
m2=driver.find_elements_by_xpath("//div[@class='salary-values']/div[2]")
for i in m2:
    max1.append(i.text)
    
a=driver.find_elements_by_xpath("//div[@class='average-indicator-wrapper']/p")
for i in a:
    avg.append(i.text)
    
Job_Details=pd.DataFrame({"Company":com,"Salary_records":slrd,"Experience_Required":exp,"Min_Salary":min1,"Max_Salary":max1,"Avg_Salary":avg,})
Job_Details

,Company,Salary_records,Experience_Required,Min_Salary,Max_Salary,Avg_Salary
0,Walmart,based on 11 salaries,3 yrs exp,₹ 25.0L,₹ 35.0L,₹ 29.7L
1,Ab Inbev,based on 32 salaries,3-4 yrs exp,₹ 15.0L,₹ 25.5L,₹ 20.5L
2,Reliance Jio,based on 10 salaries,4 yrs exp,₹ 5.6L,₹ 26.2L,₹ 18.9L
3,ZS,based on 15 salaries,2 yrs exp,₹ 9.8L,₹ 20.0L,₹ 15.9L
4,Optum,based on 27 salaries,3-4 yrs exp,₹ 11.0L,₹ 22.0L,₹ 15.2L
5,Fractal Analytics,based on 81 salaries,2-4 yrs exp,₹ 9.5L,₹ 22.0L,₹ 15.2L
6,Tiger Analytics,based on 46 salaries,2-4 yrs exp,₹ 9.0L,₹ 20.0L,₹ 14.8L
7,UnitedHealth,based on 53 salaries,2-4 yrs exp,₹ 8.3L,₹ 20.5L,₹ 14.0L
8,Verizon,based on 14 salaries,4 yrs exp,₹ 10.0L,₹ 21.0L,₹ 12.7L
9,Ganit Business Solutions,based on 13 salaries,4 yrs exp,₹ 8.5L,₹ 15.0L,₹ 12.4L